/* default settings */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: currentColor;
}

ul,
ol {
	list-style: none;
    margin: 0;
    padding: 0;
}

img {
	max-width: 100%;
}

figure > img {
	display: block;
	width: 100%;
}

#app {
	height: 100vh;
    overflow: hidden;
	display: flex;
	flex-direction: column;
}

:root {
    --d-blue: #051E34;
    --l-blue: #1B72E8;
    --grey-bg: #F7F7F7;
    --greytxt: #393939;
    --grey-btn: #6C757D;
}


.app__toolbar,
.app__content,
.app__sidebar {
    overflow: hidden;
}

.app__toolbar {
    background-color: white;
    height: 70px;
}

.app__content {
    background-color: var(--grey-bg);
    display: flex;
}

.app__sidebar {
    color: white;
    background-color: var(--d-blue);
    width: 68px;
    display: flex;
    justify-content: flex-start;

}



/* responsive-item */
.responsive-item {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 16px;
}

.responsive-item .item__text {
	display: none;
}



/* DEBUG */
/* #app {
    background-color: aqua;
    padding: 10px;
}

.debug .app__toolbar,
.debug .app__content {
	border: 2px solid red;
	padding: 10px;
}

.debug .app__sidebar,
.debug .app__main-content {
	border: 2px solid violet;
	padding: 10px;
} */
